Pyrebase4==4.5.0
pandas==1.2.3
numpy
streamlit==1.4.0
toml==0.10.2
plotly==5.8.0
streamlit_lottie==0.0.3
streamlit_option_menu==0.3.2
requests==2.27.1
extra_streamlit_components==0.1.53
protobuf==3.20.1
PyJWT==2.4.0
openpyxl==3.0.6
google-cloud-firestore==2.5.0
click==8.0.3